body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.dataTables_filter {
    float: right;
    margin-right: 5vh;
}

.logo {
    background-color: white;
    margin-right: 1rem;
}

.nav-login {
    float: right;
    color: white;
    position: relative;
    text-align: left;
}

.nav-normal {
    margin: 1rem;
    color: white;
}

.nav-normal:hover,
.nav-login:hover {
  text-underline: white;
  font-weight: bold;
  color: white;
  text-decoration-line: underline;
}

.nav-normal .nav-txt {
    color: white;
    margin: 0.5rem;
}

.center-block {
    display: inline-block;
    margin: auto auto auto;
    horiz-align: center;
}

.remove-form label {
    display: block;
}



.remove-form label input, .remove-form label select {
    display: block;
    margin: 1rem;
}

.remove-btn {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 1rem;
}

.form-container {
    border: 3px solid;
    border-radius: 5%;
}

.form-container .form-group {
    margin: 1rem;
}

.remover {
    position: fixed;
    padding-right: 30rem;
}

.remover h5 {
    margin-bottom: 0.5rem;
    text-align: center;
}

.vehicle-create {
    position: relative;
    display: block;
    margin-left: 28%;
    margin-top: 2rem;
}

.stop-forms {
    margin-top: 1vh;
}

